header{ width: 100%; height: auto; margin: auto; padding: 30px 0;}

header .container-fluid{padding: 0 25px;display: flex;}
header .container-fluid .headerLogo{padding: 0 25px 0 0;}
header .container-fluid .headerSearch{display: flex; width: 100%; height: 40px; border: 1px solid #bce3c9;padding: 0;}
header .container-fluid .headerSearch .selectDrop{cursor: pointer;position: relative; width: 15%;padding: 10px 10px 10px 15px;font-size: 15px;font-weight: 500;}
header .container-fluid .headerSearch .selectDrop::after{position: absolute; top:5px ; right:0;content:'';width: 1px; height: 30px;background-color: rgba(0, 0, 0, 0.2);}
header .container-fluid .headerSearch .search{width: 85%;position: relative;}
header .container-fluid .headerSearch .search input{width: 100%; height: 100%;border: 0;padding: 0 0 0 10px;outline: none !important;font-size: 14px;}
header .container-fluid .headerSearch .search .searchIcon{position: absolute;right: 5px; top:7px;cursor: pointer; color: #bce3c9;}