.nav{width: auto; height: 50px;margin-top: 10px;}
.container{display: flex;width: auto;height: 100%;}
/* ---------------------------- */
.container .nav-button{position: relative;;width: 20%;margin: 5px 0px 0px 20px;}
.container .nav-button .categoriesBtn{height: 90%;width: 95%;border-radius: 5px;background-color: #3BB77E;color: white;}
.container .nav-button .categoriesBtn:hover{background-color: #4aa77b;transition: 0.5s;}
.container .nav-button ul{ position: absolute;top:50px;right:10;list-style: none;}
.container .nav-button img{width: 30px;}
.container .nav-button .categoriesList{ display: grid;grid-template-columns: repeat(2,1fr);background:white ;width: 500px;padding: 20px;border: 1px solid #bce3c9;border-radius: 10px; box-shadow: 0 3px 6px rgb(0 0 0 / 20%);}
.container .nav-button .categoriesList .categoriesListBtn{width: 200px;height: 50px;margin: 0px 10px 10px 10px;justify-content: space-around;}
.container .nav-button .categoriesBtn span{padding: 5px 10px 0 5px;font-size: 12px;}
.container .nav-button .categoriesBtn .arrow{position: absolute;top: 15px;right:10px;font-size: 15px;}
.container .nav-button .categoriesList .categoriesListBtn{border: 1px solid #e9f0ec;color: #253D4E; font-family: "Lato", sans-serif;text-transform: none;font-size: 12px ;font-weight: 600;}
.container .nav-button .categoriesList .categoriesListBtn:hover{border: 1px solid #4aa77b; color: #4aa77b;transition: 0.5s;}
/* ---------------------------- */
.container .nav-menus{width: 60%;}
.container .nav-menus ul{display: flex; justify-content: space-around;height: 100%;padding-top: 15px;}
.container .nav-menus ul li{position:relative;cursor: pointer;list-style: none; font-weight: 600;color: #253D4E;font-family: "Quicksand", sans-serif;font-size: 15px;}
.container .nav-menus ul li a {text-decoration: none;color: #253D4E}
.container .nav-menus ul li a:hover{text-decoration: none;color: #3BB77E;transition:0.5s;}
/* ---------------------------- */
.container .nav-support{width: 20%;background-color: blue;}
